footer
  .footer-parent
    ul.footer-text
      li.text-value
        a(href='') About us
      li.text-value
        a(href='') ios App
      li.text-value
        a(href='') Android App
    ul.social-link
      li
        a(href='https://www.facebook.com/foodyy.chaachaa')
          i.fab.fa-facebook.icon-footer
      li
        a(href='https://www.instagram.com/foddy_chaachaa')
          i.fab.fa-instagram.icon-footer
      li
        a(href='https://twitter.com/ChaaFoody')
          i.fab.fa-twitter-square.icon-footer
      li
        a(href='#')
          i.fab.fa-snapchat-square.icon-footer
  p.footer-p Copyright © 2019 EVERYONE. All rights reserved.
