extends base
block content
  .container-grey
    .form-container
      form.forgetPassword.form-page
        h3.heading-secondary FORGET PASSWORD
        .entry
          .entry-text Email
          input(type='email' placeholder="youremail@gmail.com").email
        .entry
          .btn-parent.left
            button(type="submit" data-token=`${token}`).btn.btn-full.form-button SEND EMAIL