extends base

block content
  .form-container
    form(style="top:0rem").login
      .entry
        .entry-text Email
        input(type='email').email
      .entry
        .entry-text Password
        input(type='password').password
      .entry
        .btn-parent
          button(type="submit").btn.btn-full.form-button LOGIN