nav.sticky.other
  ul.navigation
    li.nav-line
      a.white-anchors(href='/') FEATURES
    li.nav-line
      a.white-anchors(href='') DETAILS
    li.nav-line
      a.white-anchors(href='') REVIEWS
    li.nav-line
      a.white-anchors(href='/plans') PLANS
    if name
        li.nav-line
          a.white-anchors(href='/profile') #{name}
        li.nav-line
          a.white-anchors(href='javascript:;').logout LOGOUT
    else
        li.nav-line
          a.white-anchors(href='/login') LOGIN
  