extends base
block content
  .container-grey
    .form-container
      form.resetPassword.form-page
        h3.heading-secondary RESET PASSWORD
        .entry
          .entry-text Password
          input(type='password' placeholder="*********").password
        .entry
          .entry-text Confirm Password
          input(type='password' placeholder="*********").confirmPassword
        .entry
          .btn-parent.left
            button(type="submit" data-token=`${token}`).btn.btn-full.form-button RESET PASSWORD